header{
    color: white;
    border: 2px solid black;
    background-color: rgb(8, 235, 57);
    grid-column: 1/span 2;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
nav{
    border: 2px solid black;
    background-color: gray;
    
}
main{
    border: 2px solid black;
    background-color: aliceblue;
}
footer{
    color: white;
    border: 2px solid black;
    background-color: rgb(5, 225, 56);
    grid-column: 1/span 2;
    text-align: center;
}
div{
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100px auto 50px ;
}
